/* https://dribbble.com/shots/23122923-Omegle-ReDesign */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-content: flex-start;
}

#videos {
    display: flex;
    gap: 0vw;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    
}

video {
    background-color: black;
    width: 490px;
    height: 50vh;
}

#interface {
    /* flex-basis: 100%; */
}