/* https://dribbble.com/shots/23122923-Omegle-ReDesign */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #22242c;
}

p {
    margin: 0;
    font-size: 17px;
}

#container {
    display: grid;
    grid-template-columns: auto auto;
}

video {
    background-color: black;
    width: 32vw;
    height: 50vh;
}

#localVideo {
    grid-column-end: 1;
}

#remoteVideo {
    background-color: black;
    grid-column-end: 1;
}

#interface {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 68vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#chat-title-text {
    font-size: 20px;
    margin: 0;
    color: #eaf2ef;
}

#chat-title-container {
    /* background-color: #22242c; */
    border-bottom: 1px #444 solid;
    padding: 10px;
}


#new-msg-and-btns {
    border-top: 1px #444 solid;
    padding-top: 10px;
}

/* NEW MESSAGE INPUT*/
#new-msg-form {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    padding: 1px;
    background-color: #43444e;
    width: 95%;
    margin: auto auto;
}

#new-msg-input {
    flex-grow: 2;
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #43444e;
    color: white;
}

#new-msg-input:focus {
    outline: none;
    border: none;
}

.interface-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

/* CONTROL BUTTONS */
#control-btns-container {
    margin: auto auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

#send-msg-btn {
    background-color: #5c61ed;
}

#send-msg-btn:hover {
    background-color: #757af0;
}

#mic-control-btn,
#camera-control-btn {
    background-color: #5c61ed;
}

#mic-control-btn:hover,
#camera-control-btn:hover {
    background-color: #757af0;
}


#end-call-btn {
    background-color: #bf5558;
    width: 70px;
}

#end-call-btn:hover {
    background-color: #c27375;
}

/* CHAT MESSAGES */
#messages-container {
    flex-grow: 2;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-message-container {
    width: fit-content;
    padding: 10px;
    margin: 10px 5px;
    max-width: 90%;
    text-align: justify;
}

.received-msg-container {
    border-radius: 0px 15px 15px 0px;
    background-color: #70a9a1;
}

.local-msg-container p {
    direction: rtl;
}

.local-msg-container {
    border-radius: 15px 0px 0px 15px;
    background-color: #bf5558;
    margin-left: auto;
}

/* LOBBY */
#room-select-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 2px solid #5c61ed;
    background-color: #22242c;
    padding: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    box-shadow: rgba(92, 97, 237, 0.4) -5px 5px, rgba(92, 97, 237, 0.3) -10px 10px, rgba(92, 97, 237, 0.2) -15px 15px, rgba(92, 97, 237, 0.1) -20px 20px, rgba(92, 97, 237, 0.05) -25px 25px;
}

#join-room-form {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    padding: 1px;
    background-color: #43444e;
    margin: auto auto;
    width: 100%;
}

#join-room-input {
    flex-grow: 2;
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #43444e;
    color: white;
}
#join-room-input:focus {
    outline: none;
    border: none;
}

#join-room-btn {
    background-color: #5c61ed;
}
#join-room-btn:active {
    background-color: #757af0;
}

#create-room-container {
    text-align: center;
    width: 60%;
    margin: auto;
}

#create-room-btn {
    border-radius: 50px;
    border: none;
    background-color: #5c61ed;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#create-room-btn:hover {
    cursor: pointer;
}
#create-room-btn:active {
    background-color: #757af0;
}

#create-room-icon {
    float: right;
    padding: 3px;
}

#join-create-room-divider {
    color: #bdbdc4;
}